@import "variables.scss";

.order-card {
    margin: 5vh 0;

    &.canceled {
        background-color: $clr-primary-dark;
    }

    &.processing {
        background-color: $clr-info;
    }

    &.delivering {
        background-color: $clr-primary-light;
    }

    &.delivered {
        background-color: $clr-secondary-light;
    }

    &.received {
        background-color: $clr-secondary-dark;
    }

    .order-labels {
        margin: 5vh 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .label-wrapper {
            display: flex;
            align-items: center;

            strong {
                margin-left: 0.5vw;

                &.client-name, &.status-label {
                    border: 1px solid #777;
                    padding: 0.5vw;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                        box-shadow: 1px 1px 3px black;
                    }
                }
            }
        }
    }

    .buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        .first-btn {
            width: 80%;
        }

        .second-btn {
            width: 20%;
        }
    }
}
