.account-info-wrapper {
    margin-top: 15vh;

    .account-info-text {
        width: 80vw;
        margin-left: 10vw;
    }
}

.orders-info-wrapper {
    margin-top: 5vh;
    width: 80vw;
    margin-left: 10vw;

    .orders-info {
        margin-top: 5vh;
    }
}
