.meals-container {
    margin-top: 15vh;

    .restaurant-name {
        margin-bottom: 2vh;
    }

    .filters-container {
        display: flex;
        justify-content: center;

        .MuiTextField-root {
            margin-left: 1vw;
        }
    }

    .found-label {
        margin-top: 1vh;
    }

    .meals-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
